
body { margin: 0; }
#modal_back {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#modal {
	position: absolute;
	top: calc(50% - 25px);
	left: 50%;
	max-height: calc(100% - 130px);
	transform: translate(-50%, -50%);
	width: min(600px, 100% - 90px);
	padding: 30px;
	background-color: #222e;
	border: 4px solid #b3532e;
	color: #eee;
	font-family: consolas, monaco, sans-serif;
	font-size: 14px;
	z-index: 4;
	overflow-y: auto;
}
#modal h1 {
	font-size: 18px;
	font-weight: 600;
}
#modal h2 {
	font-size: 16px;
	font-weight: 600;
}
#modal a {
	color: #dea2f7;
	text-decoration: none;
}
#modal a:hover { color: #edc2ff; }
#modal_ok {
	margin: 33px auto 9px;
	border: 3px solid #b3532e;
	background-color: #333;
	display: block;
	color: #eee;
	padding: 8px 20px;
	font: inherit;
}
#modal_ok:hover { background-color: #3a3a3a; }
#welcome {
	margin: auto;
	width: fit-content;
}
#welcome h1 {
	font-size: 20px;
	font-weight: 500;
	margin: 15px 0 30px;
	color: #bbb;
}
#welcome p, #welcome ul {
	font-size: 17px;
	margin: 11px 0;
	line-height: 27px;
}
#welcome ::marker { color: #bbb; }
.detail, .flash_message {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: #222e;
	border: 2px solid #b3532e;
	text-align: center;
	font-family: sans-serif;
	font-size: 15px;
	color: #777;
	z-index: 3;
}
.detail > * {
	display: inline-block;
	margin: 0 5px;
	color: #ccc;
}
.detail > a {
	color: #eef;
	cursor: pointer;
	text-decoration: none;
}
.detail > center {
	display: block;
	font-style: italic;
}
#detail_close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px;
	color: #999;
}
#gl_container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: calc(100% - 50px);
	overflow: hidden;
}
#ctrls {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 38px;
	padding: 6px;
	background-color: #222;
	font-family: sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#ctrls > * {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #aaa;
	margin: 0 10px;
}
#pause {
	font: inherit;
	background: none;
	border: none;
	padding: 0;
}
#pause:disabled {
	color: #777;
	pointer-events: none;
	cursor: default;
}
#speedin {
	opacity: 0.7;
	filter: grayscale(1);
}
#pause::before ,#speedout::before {
	content: '|';
	position: relative;
	right: 9px;
	color: #777;
}
button#question {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 50px;
	display: flex;
	align-items: center;
	color: #aaa;
	padding: 11px;
	background: none;
	border: none;
	cursor: pointer;
	font: inherit;
}
#question::before {
	content: 'About';
	margin: 0 9px;
}
#question img {
	height: 100%;
}
.switch {
	position: relative;
	width: 33px;
	height: 20px;
	margin-right: 7px;
}
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #6c6c6c;
	border-radius: 13px;
	transition: .2s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 3px;
	bottom: 3px;
	background-color: #222222;
	border-radius: 50%;
	transition: .2s;
}
input:checked + .slider {
	background-color: #947e9d;
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
	transform: translateX(13px);
}
.editor_tip {
	position: absolute;
	transform: translate(-50%, -50%);
	color: white;
	font-weight: bold;
	text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
	user-select: none;
	z-index: 2;
}
.tip {
	position: absolute;
	transform: translateY(-50%);
	font-family: sans-serif;
	font-size: 14px;
	padding: 2px;
	user-select: none;
	mix-blend-mode: screen;
}
.tip.playing {
	color: #eff;
}

.flash_message {
	color: #eee;
	opacity: 0;
	transition: opacity 2s;
}

.flash_message.visible {
	opacity: 1;
	transition: opacity 0.2s;
}

@media (max-width: 650px) {
	#welcome h1 { font-size: 17px; }
	#welcome p, #welcome ul {
		font-size: 16px;
		line-height: 23px;
	}
	#gl_container {
		height: calc(100% - 70px);
	}
	#ctrls {
		height: 58px;
	}
	#speedout {
		width: 500px;
	}
	#speedout::before {
		content: '';
	}
	#question::before {
		content: '';
	}
}