
body { margin: 0; }
#modal {
	position: absolute;
	top: calc(50% - 25px);
	left: 50%;
	max-height: calc(100% - 130px);
	transform: translate(-50%, -50%);
	width: min(600px, 100% - 90px);
	padding: 30px;
	background-color: #222e;
	border: 4px solid #b3532e;
	color: #eee;
	font-family: consolas, monaco, sans-serif;
	font-size: 14px;
	z-index: 4;
	overflow-y: auto;
}
#modal h1 {
	font-size: 18px;
	font-weight: 600;
}
#modal h2 {
	font-size: 16px;
	font-weight: 600;
}
#modal a {
	color: #dea2f7;
	text-decoration: none;
}
#modal a:hover { color: #edc2ff; }
#modal_ok {
	margin: 30px auto 0;
	border: 3px solid #b3532e;
	background-color: #333;
	display: block;
	color: #eee;
	padding: 8px 20px;
	font: inherit;
}
#modal_ok:hover { background-color: #3a3a3a; }
.detail {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: #222e;
	border: 2px solid #b3532e;
	text-align: center;
	font-family: sans-serif;
	font-size: 15px;
	color: #777;
	z-index: 3;
}
.detail > * {
	display: inline-block;
	margin: 0 5px;
	color: #ccc;
}
.detail > a {
	color: #eef;
	cursor: pointer;
	text-decoration: none;
}
.detail > center {
	display: block;
	font-style: italic;
}
#detail_close {
	position: absolute;
	top: 2px;
	right: 2px;
	color: #999;
}
#gl_container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: calc(100% - 50px);
	overflow: hidden;
}
#ctrls {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #222;
	color: #555;
	font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}
#ctrls > * {
	color: #aaa;
	margin: 0 10px;
}
#ctrls button {
	font: inherit;
	background: none;
	border: none;
	padding: 0;
}
#ctrls > label {
	margin-left: -3px;
}
#question {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	padding: 11px;
	background: none;
	border: none;
	cursor: pointer;
}
#question img {
	width: 100%;
	height: 100%;
}
.switch {
	position: relative;
	width: 33px;
	height: 20px;
}
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #6c6c6c;
	border-radius: 13px;
	transition: .2s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 3px;
	bottom: 3px;
	background-color: #222222;
	border-radius: 50%;
	transition: .2s;
}
input:checked + .slider {
	background-color: #947e9d;
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
	transform: translateX(13px);
}

button:disabled {
	opacity: 0.5;
	pointer-events: none;
	cursor: default;
}
.editor_tip {
	position: absolute;
	transform: translate(-50%, -50%);
	color: white;
	font-weight: bold;
	text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
	user-select: none;
	z-index: 2;
}
.tip {
	position: absolute;
	transform: translateY(-50%);
	font-family: sans-serif;
	font-size: 14px;
	padding: 2px;
	user-select: none;
	mix-blend-mode: screen;
}
.tip.playing {
	color: #eff;
}